.main_container{
    width: 100%;
    height: 100%;
}

.text1{
    position: absolute;
    font-family: "Arial";
    font-size: 57px;
    color: #ffffff;
    text-align: left;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 19px;
}

.text2{
    position: absolute;
    font-family: "Arial";
    font-size: 30px;
    color: #ffffff;
    text-align: left;
    width: 100%;
    height: 100%;
    top: -6px;
    left: 7px;
}

.text404{
    position: relative;
    font-family: "Arial";
    font-size: 57px;
    color: #ffffff;
    transform: translate(-50%, -50%);
    text-align: center;
    bottom: 140px;
}

.center_box{
    position: absolute;
    top: 50%;
    left: 50%;
}

.kostka{
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: red;
    transform: translate(-50%, -50%);
}

.main_cantainer_404{
    width: 100%;
    height: 100%;
}

.background_image_404{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/img/1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    left: 0px;
    top: 0px;
}

.background_image_main{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/img/2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    left: 0px;
    top: 0px;
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
}

.kostka_1_main{
    position: absolute;
    width: 210px;
    height: 100px;
    background-color: rgb(11, 58, 145);
    transform: translate(-50%, -50%);
    left: 150px;
    top: 150px;
}

.kostka_2_main{
    position: absolute;
    width: 210px;
    height: 100px;
    background-color: rgb(113, 196, 127);
    transform: translate(-50%, -50%);
    left: 300px;
    top: 300px;
}

#mystery_checkbox{
    position: absolute;
    left: 350px;
    top: 160px;
}

#mystery_button{
    position: absolute;
    left: 341px;
    top: 200px;
}

#text3{
    position: absolute;
    font-family: "Arial";
    font-size: 30px;
    color: #ffffff;
    text-align: left;
    width: 100%;
    height: 100%;
    top: -6px;
    left: 7px;
}