.main_container{
    width: 100%;
    height: 100%;
}

.text1{
    font-family: "Arial";
    font-size: 57px;
    color: #000000;
    text-align: left;
    width: 100%;
    height: 100%;
}

.text404{
    position: relative;
    font-family: "Arial";
    font-size: 57px;
    color: #ffffff;
    transform: translate(-50%, -50%);
    text-align: center;
    bottom: 140px;
}

.center_box{
    position: absolute;
    top: 50%;
    left: 50%;
}

.kostka{
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: red;
    transform: translate(-50%, -50%);
}

.main_cantainer_404{
    width: 100%;
    height: 100%;
}

.background_image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/img/404.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    left: 0px;
    top: 0px;
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
}